Flask==1.0.2
Flask-pyoidc==2.0.0
csh_ldap~=2.2.0
addict==2.2.0
flask_sqlalchemy==2.3.2
flask_migrate==2.3.1
psycopg2==2.7.7
python-magic==0.4.15
piexif==1.1.2
wand==0.5.0
gunicorn==19.9.0
moviepy==0.2.3.5
imageio==2.4.0
boto3
