flask==1.0.0
flask-pyoidc==1.2.0
csh_ldap==2.0.1
addict==2.1.2
flask_sqlalchemy==2.3.2
flask_migrate==2.1.1
psycopg2==2.7.4
python-magic==0.4.15
piexif==1.0.13
wand==0.4.4
gunicorn==19.7.1
moviepy==0.2.3.2
boto==2.48.0
