addict==2.2.0
alabaster==0.7.12
alembic==1.7.4
Beaker==1.11.0
boto3==1.18.62
botocore==1.21.65
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==35.0.0
csh-ldap==2.2.0
decorator==4.4.2
dnspython==2.1.0
ddtrace~=1.1.4
Flask==1.0.2
Flask-Migrate==2.3.1
Flask-pyoidc==2.0.0
Flask-SQLAlchemy==2.5.0
future==0.18.2
greenlet==1.1.2
gunicorn==19.9.0
idna==3.3
imageio==2.4.0
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==0.10.0
Mako==1.1.5
MarkupSafe==2.0.1
moviepy==0.2.3.5
numpy==1.21.3
oic==0.12.0
piexif==1.1.2
Pillow==9.3.0
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodomex==3.11.0
pyjwkest==1.4.2
pyOpenSSL==21.0.0
python-dateutil==2.8.2
python-ldap==3.0.0
python-magic==0.4.15
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.26
srvlookup==2.0.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Wand==0.5.0
Werkzeug==0.16.1
zipp==3.6.0
