{% extends "nav.html" %}
{% block title %}
Create Folder
{% endblock %}

{% block extraHead %}
<link href="https://mbraak.github.io/jqTree/jqtree.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Create Folder</h3>
            <h4 class="text-muted">Select a parent directory from the tree</h4>
        </div>
        <div class="col-xs-12">
            <div id="fileList"></div>
            <div class="form-group">
                <input type="number" name="gallery_dir_id" readonly hidden/>
                <label class="control-label" for="gallery_dir_name">Folder name:</label>
                <input class="form-control" type="text" id="gallery_dir_name" name="gallery_dir_name" placeholder="Welcome Back, 2017-2018/Fall Camping, etc.">
                <input class="btn btn-primary" id="mkdir" type="submit" value="Create Directory"><br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="descriptions" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Enter descriptions for the folders</h4>
                <p class="text-muted">(Submits automatically)</p>
            </div>
            <div class="modal-body">
                <div class='form-group'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extraFooter %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.3.5/tree.jquery.min.js"></script>
<script>
    $(function() {
        populateDirTree();
        document.getElementById("mkdir").onclick = createDirectory;
    });
</script>
{% endblock %}
