{% extends "nav.html" %}
{% block title %}
Upload
{% endblock %}

{% block extraHead %}
<link href="https://mbraak.github.io/jqTree/jqtree.css" rel="stylesheet">
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Upload</h3>
            <h4 class="text-muted">Select a parent directory from the tree</h4>
        </div>
        <div class="col-xs-12">
            <div id="fileList"></div>
            <input type="number" name="gallery_dir_id" readonly hidden/>
            <div class="well well-sm">
                <div id="galleryUpload" class="dropzone">
                    <div class="dz-message" data-dz-message><span>Click or drop images here to upload</span></div>
                </div>
            </div>
            <input class="btn btn-primary" id="upload" type="submit" value="Upload"><br />
        </div>
    </div>
</div>

<div class="modal fade" id="descriptions" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Enter descriptions for the files</h4>
                <p class="text-muted">(Submits automatically)</p>
            </div>
            <div class="modal-body">
                <div class='form-group'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extraFooter %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqtree/1.3.5/tree.jquery.min.js"></script>
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script>
Dropzone.autoDiscover = false;

    $(function() {
        populateDirTree();

        var myDropzone = new Dropzone('div#galleryUpload', {
            url: '/upload',
            paramName: "gallery-upload",
            uploadMultiple: false,
            autoProcessQueue: false,
            parallelUploads: 3,
            maxFilesize: 1000, // This is pretty large but it's okay
            accept: function(file, done) {
                done();
            },
            sending: function(file, xhr, formData) {
                formData.append('parent_id',
                    $('input[name="gallery_dir_id"]').val());
            },
            complete: function(file) {
                this.removeFile(file);
            },
            success: afterUpload
        });

        $('#upload').click(function(e){
            e.preventDefault();
            if ($('input[name="gallery_dir_id"]').val().length > 0) {
                myDropzone.processQueue();
            } else {
                var warning = "<div class='alert alert-dismissible alert-danger' id='upload-alert'><button type='button' class='close' data-dismiss='alert'>&times;</button>Select a parent directory before uploading.</div>";
                $('#upload').after(warning);
            }
        });
    });
</script>
{% endblock %}
