{% extends "nav.html" %}
{% block title %}
View Directory
{% endblock %}

{% block body %}

<div class="container">
<h1>View Directory: {{directory.name}}</h1>
{% if children|length >= 1 %}
    <div class="row">
    {% for child_type, child in children %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                {% if child_type == "Directory" %}
                <div class="album-wrapper">
                    <a class="album" href="/view/dir/{{ child.id }}">
                        <img src="/api/thumbnail/get/dir/{{ child.id }}">
                    </a>
                </div>
                <p>{{ child.name }}</p>
                <p>Owner: {{ child.author }}</p>
                {% elif child_type == "File" %}
                <a class="file" href="/view/file/{{ child.id }}">
                    <img src="/api/thumbnail/get/{{ child.id }}">
                    <p>{{ child.name }}</p>
                </a>
                <p>Owner: {{ child.author }}</p>
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="row">
        <div class="col-sm-12">
            <h2>This album is empty.</h2>
        </div>
    </div>
{% endif %}
</div>

<br />
{% endblock %}
