{% extends "nav.html" %}
{% block title %}
View File
{% endblock %}

{% block body %}
{% if display_parent %}
    <a href="/view/dir/{{file.parent}}">Parent directory</a>
{% endif %}

{% if next_file != -1 %}
<a href="/view/file/{{next_file}}">Next File</a>
{% endif %}

<h1>View file {{ file.name }}:</h1>
{% if file.filetype == "Photo" %}
    <img src="/api/image/get/{{file.id}}">

{% elif file.filetype == "Video" %}
<video controls>
	<source src="/api/image/get/{{file.id}}">
</video>

{% else %}
    Text Data
{% endif %}

{% if prev_file != -1 %}
<a href="/view/file/{{prev_file}}">Previous File</a>
{% endif %}

<br />
<a href="/upload">Upload</a>
{% endblock %}
