{% extends "nav.html" %}
{% block title %}
View File
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                {% for p in parents %}
                    {% if loop.first %}
                    <li><a href="/view/dir/{{ p.id }}">CSH Gallery</a></li>
                    {% elif loop.last %}
                    <li class="active">{{ p.name }}</li>
                    {% else %}
                    <li><a href="/view/dir/{{ p.id }}">{{ p.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            {% if prev_file != -1 %}
            <a href="/view/file/{{prev_file}}">&lt; Previous File</a>
            {% endif %}
            {% if next_file != -1 %}
            <a href="/view/file/{{next_file}}">Next File &gt;</a>
            {% endif %}

            {% if file.filetype == "Photo" %}
                <img src="/api/file/get/{{file.id}}">

            {% elif file.filetype == "Video" %}
            <video controls>
                <source src="/api/file/get/{{file.id}}">
            </video>

            {% else %}
                Text Data
            {% endif %}

            {% if prev_file != -1 %}
            <a href="/view/file/{{prev_file}}">&lt; Previous File</a>
            {% endif %}
            {% if next_file != -1 %}
            <a href="/view/file/{{next_file}}">Next File &gt;</a>
            {% endif %}
        </div>
    </div>
</div>

<br />
{% endblock %}
