body {
    padding-top: 100px;
}

.container {
    max-width: 1000px;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}

/* view_dir.html */

h2 {
    font-size: 30px;
    font-weight: 300;
}

.file {
  width: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.album-wrapper {
  transform: rotate(-5deg);
  display: inline-block;
  width: 90%;
  background: #666;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
}

.album {
  transform: rotate(5deg);
  display: block;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
}

.panel p {
    margin: 0;
}

/* view_file.html */

.col-md-10 {
    text-align: center;
}

.col-md-10 img,
.col-md-10 video {
    width: 100%;
    height: auto;
}

.col-md-10 a {
    margin: 0 15px;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}
