body {
    padding-top: 100px;
}


h1 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 20px 0;
}

footer {
    text-align: center;
    margin: 20px 0;
}

/* view_dir.html */

h2 {
    font-size: 30px;
    font-weight: 300;
}

.file img {
  width: 88%;
  margin: 6px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: 0.3s box-shadow;
}

.album-wrapper {
  transform: rotate(-5deg);
  display: inline-block;
  width: 90%;
  background: #666;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
  transition: 0.3s box-shadow;
}

.album {
  transform: rotate(5deg);
  display: block;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 5px solid white;
}

.album img {
    width: 100%;
}

.panel {
    text-align: center;
}

.panel-body {
    padding: 25px 15px 15px 15px;
}

.panel p {
    line-height: 1.4;
    margin: 5px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.panel p a {
    font-weight: 500;
}

.selected .album-wrapper,
.selected a.file img {
    box-shadow: 0 0 10px black;
}

/* view_file.html */

.col-md-10 {
    text-align: center;
}

/* Only supported in FF and iOS Safari currently
 * http://caniuse.com/#feat=css-image-orientation
 */
.col-md-10 img {
    image-orientation: from-image;
}

.col-md-10 img,
.col-md-10 video {
    width: 100%;
    height: auto;
}

.col-md-10 a {
    margin: 20px 0;
}

.dropzone {
    border 2px dotted #6495ED;
    display: block;
}

.modal-dialog {
    position: static;
}

.well#description {
    font-weight: bolder;
}

#tags,
#description {
    margin: 10px;
    text-align: center;
}

#tags ul {
    list-style-type: none;
    display: inline;
    padding: 0;
}

#tags li {
    display: inline-block;
}

.selectize-dropdown {
  height: auto;
}

.selectize-input .remove {
  margin: 0;
}

.selectize-control {
  height: auto;
}

.pager {
    margin: 0;
}

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
    margin-right: 0;
}

.well #galleryUpload {
    background: transparent;
    border: none;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: transparent;
    font-weight: bolder;
    text-shadow: none;
}

.modal img {
    width: 100%;
    max-width: 128px;
    display: block;
}

.modal input {
    margin-bottom: 25px;
}

input#mkdir,
input#upload {
    display: inline;
    margin-top: 20px;
}

#fileList {
    text-align: left;
}

#upload-alert,
#mkdir-alert {
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
}

embed {
    width: 100%;
    min-height: 600px;
}

/* errors.html */

.error-page {
    padding-top: 80px;
    text-align: center;
}

.error-page .glyphicon,
.error-page h1,
.error-page h2,
.error-page h3,
.error-page p {
    color: #878787;
}

.error-page img {
    margin-bottom: 40px;
    width: 200px;
}

.error-page h1 {
    font-size: 50px;
    font-weight: bolder;
}

.error-page h2 {
    margin-bottom: 50px;
    font-size: 30px;
}

.error-page h3 {
    font-size: 25px;
}

.error-page p {
    font-size: 15px;
    font-weight: lighter;
}

.nav .glyphicon {
    margin-right: 5px;
}
